{% extends "base.html" %}

{% block content %}
<p>Привет! Можно:</p>
<ul>
  <li><a href="name">Увлекательно поиграть в «Здравствуй, Анонимус» (осталось без изменений)</a>;</li>
  <li><a href="hello">Получить немного плоского текста</a>;</li>
  <li><a href="static.html">Прочитать руководство к простенькому калькулятору</a>.</li>
  <li><a href="energy of stars.html"> Почитать интересненькую статью</a>.</li>
  <li><a href="night.jpg">Или посмотреть картинку, когда-то сгенерированную нейросетью</a>.</li>
</ul>
{% endblock %}
